NODE_ENV=development | production
APP_SECRET=secret
APP_ENCRYPTION_ALGO=encryption_algo
APP_IDEAL_SHORT_URL_LIMIT=12_18
APP_DB_NAME=dbname
APP_DB_USERNAME=dbuser
APP_DB_PASSWORD=dbpassword
APP_DB_PORT=dbport
APP_DB_HOST=mysql
APP_WHITELIST_URLS='http://127.0.0.1:5500','http://127.0.0.1:5500'
APP_PORT=8080;